@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
    --clr-white: hsl(0 100% 100%);
    --clr-black: hsl(0 0% 0%);

    --clr-grey-950: hsl(200 15% 8%);
    --clr-grey-400: hsl(0 0 50%);
    --clr-grey-350: hsl(0 0 59%);
    --clr-grey-300: hsl(0 0 70%);
    --clr-grey-250: hsl(0 0 77%);
    --clr-grey-50: hsl(0 0 99%);

    --clr-blue-950: hsl(207 26% 17%);
    --clr-blue-900: hsl(209 23% 22%);

    /* Typography */

    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;
    --fs-16: 1rem;
    --fs-14: 0.875rem;
    --fs-12: 0.75rem;

    --lh-1375: 137.5%;
    --lh-135: 135%;
    --lh-145: 145%;
    --lh-200: 200%;
    --lh-225: 225%;

    /* Spacing */
    --space-100: 0.5rem;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-500: 2.5rem;
    --space-600: 3rem;
    --space-700: 3.5rem;
    --space-800: 4rem;
    --space-900: 4.5rem;
    --space-1000: 5rem;

    --radius: 0.625rem;

    --background: var(--clr-white);
    --foreground: var(--clr-blue-950);

    --primary: var(--clr-white);
    --primary-foreground: var(--clr-grey-950);

    --secondary: var(--clr-white);
    --secondary-foreground: var(--clr-grey-400);

    --muted: oklch(0.968 0.007 247.896);

    --muted-foreground: var(--clr-grey-400);

    --border: var(--clr-white);

    --input: var(--clr-white);

    --ring: var(--clr-blue-900);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--ff-nunito-sans);

    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);

    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

body {
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

.dark {
    --background: var(--clr-blue-950);
    --foreground: var(--clr-white);

    --primary: var(--clr-blue-900);
    --primary-foreground: var(--clr-white);

    --secondary: var(--clr-blue-950);
    --secondary-foreground: var(--clr-white);

    --muted: oklch(0.279 0.041 260.031);

    --muted-foreground: var(--clr-white);

    --accent: oklch(0.279 0.041 260.031);

    --accent-foreground: oklch(0.984 0.003 247.858);

    --border: oklch(1 0 0 / 10%);

    --input: var(--clr-blue-900);

    --ring: var(--clr-blue-900);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.header-banner {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.dropdown-trigger,
.input-wrapper {
    border-radius: 0.3125rem;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.back-btn {
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.country-card {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}

.border-tile {
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}
